body {
  background: #37353E;
  font-family: Arial, sans-serif;
}

.container {
  width: 400px;
  margin: 50px auto;
  background: #44444E;
  border-radius: 10px;
  text-align: center;
  padding: 24px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.links a {
  display: block;
  background: #D3DAD9;
  color: #44444E;
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-weight: bolder;
  text-decoration: none;
  margin: 20px 0;
  padding: 12px;
  border-radius: 15px;
  
}
.links a:hover {
  background: #715A5A;
}
  object-fit:cover;
